.app-sidebar__user-avatar{
    width: 68px;
    background: gray;
    padding: 6px;
}
.headerRegister{
    background:#009688;
    color:#FFF;
}
.headerUpdate{
    background:#007bff;
    color:#FFF;
}
.notBLock{
    display:none;
}
.header.app-header {
    
    background-color:#83aaf3;
}

