.app-sidebar__user-avatar{
    width: 68px;
    background: gray;
    padding: 6px;
}
.headerRegister{
    background:#009688;
    color:#FFF;
}
.headerUpdate{
    background:#007bff;
    color:#FFF;
}
.notBLock{
    display:none;

}


/*LOGIN*/


.header.app-header {
    
    background-color:#83aaf3;
}

.material-half-bg .cover {
    width:100%;
        background-image:url(../../../Recursos/images/parteStiven/login1.jpg);
        background-position:center;
        top: 2px;
        background-size:cover;
        padding: 40px;
        position:relative;

}
.material-half-bg {
    background-color: #83aaf5;
    background: linear-gradient(190deg, #174eb5,#5d83c9);
        
}
.capa{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:linear-gradient(90deg,#2e6fe8, #83aaf3);
    opacity:0.6;
}
.form-control{
    border: 2px solid #9c2bc0;
}
.form-control:focus{
    border-color: #410782;

}
.login-content .login-box .login-head{
    border-bottom: 1px solid #80a6ef;

}
.login-head{
    color:#410782 ;

}
::selection {
    color: #fff;
    background-color: #7a9fe5;
}
a {
    color: #410782 ;
    text-decoration: none;
    background-color: transparent;
}
a:hover {
    color: #3641a9;
    text-decoration: underline;
}
.btn:hover {
    color: #ffffff;
    background: linear-gradient(90deg, #410782,#cb85d4);
    border-color: #410782;
}
.btn-primary {
    color: #161d77f7;
    background: linear-gradient(90deg, #cb85d4,#410782);
    border-color: #9923bf;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #161d77f7;
    background: linear-gradient(90deg, #410782,#cb85d4);
    border-color: #410782;
}
.login-content .login-box label {
    color: #410782;
}
.iconLogin{
    width: 150px;;
    display:block;
    margin:auto;
}
.login-content .logo {
    margin-bottom: 40px;
    font-family: "Niconne";
    color: #410782;
}
.login-content .login-box {
    background-color: #fffbd7;
}
/*SWEET-ALERT*/
.sweet-alert button {
    background-color: #410782 !important;
    color: white;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 3px;
    padding: 8px 20px;
    margin: 26px 5px 0 5px;
    cursor: pointer;
}
.sweet-alert {
    background-color: #fffbd7;
}


.app-header {
    
    background-color:#83aaf3;
}
