/*     
    Author: Edwin Salamandro
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{	
    display: flex;	
    margin: .25em auto;
    padding: 5px;	
    width: 90vw;
    height: 15vh;
    background: #a0f;	
    border-radius: .9em;	
}
header img{		
    display: block;	
    width: 200px;
    height: 100%;		
}
.icono{
    margin-top: -5px;
    display: inline;
    width: 20px;
    height: 20px;		
}

.header__div{	
    position: relative;
    width: 	60%;
    height: 92%;		
    margin: 0;
    padding:0;	
    align-content: center;
}

header div h1 {	
    position: absolute;
    top:0;		
    display: block;
    flex-grow: 1;
    width: 100%;		
    height: 50%;
    top:0;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    font-family: Georgia;
    font-weight: 100%;		
    line-height: 1;
    color: blue;		
    align-content: center;
}
.header__div-ul {	
    position: absolute;	
    text-align: left;
    display: flex;	  	
    width: 100%;  	
    bottom: 0;	
    list-style: none;
    margin: 0;
    padding:0;
}
.header__div-ul li{		
    float:left;
    position: relative;
    text-align: center;
    flex-grow: .5;		
    padding: 5px;	
    border-right: 1px solid #fff;		
    z-index: 150;
}
.header__div-ul li a{	
    display: block;
    position: 0rem 2rem;
    color: #fff;	
    text-decoration: none;
}

.header__div-ul li:hover .subMenu{
    display: block;	
    color: 	red;
    width: 150px;		
}

.header__div-ul li:hover {
    background-color: #000;
    color: #000;
} 

@media 	(max-width: 600px) {
    .header__div-ul {	
        display: none;	;	  	
        width: 99%;
        border: 1px solid green;
        align-content: center;
    }
}

@media 	(max-width: 400px) {	
    .header__div-ul {	
        display: none;	;	  	
        width: 99%;
        border: 1px solid green;
        align-content: center;
    }
}