/* 
    Author     : Edwin Salamandro
*/

nav{
    display:none;
}

@media 	(max-width: 800px) {
    nav{
    display:flex;
    margin: 0px auto;
    width: 90vw;
    height: 120px;
    padding: 15px 20px;
}

/* icono
*/
nav label{
    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid #fff;
}
nav label:hover{
    cursor: pointer;
}

#btn_menu{
    display: none;
}

    .menu ul{
        margin: 0px;
        list-style: none;
        padding: 10px;
        display: flex;
    }

    .menu li:hover{
        background: red;
    }

    .menu li a{
        display: block;
        padding: 20px;
        color: #fff;
        text-decoration: none;
    }

}
@media 	(max-width: 768px) {
    nav{
        height: 60px;
        background-color: white;
    }
    nav label{
    display: block;
}

.menu{
    position: absolute;    
    background: gray;
    z-index: 150;
    width: 70%;
    margin-left: -100%;
    transition: all 0.4s;
}
    .menu ul{
        flex-direction: column;
    }
    
    .menu li {
        border-top: 1px solid #fff;
    }
    
    #btn_menu:checked ~ .menu{
        margin:0;
        margin-top: 45px;
    }
}

