/* 
    Author     : Edwin
*/



.images {
    display: flex;
    flex-wrap: wrap;
    height: 99%;
    justify-content: center;
}

.cont {
    margin: 10px;
    width: 200px;
    height: 300px;
    font-size: 1.5em;
    text-align: center;    
}

.cont img {
    padding-top: 7px;
    padding-left: 7px;
    width: 96%;
    height: 70%;
    transition: 1s;
}

.cont ul {
    display: inline;
    margin-top: 0px;
    list-style-type: none;
    width: 80%;
    height: 20%;
    text-align: center;
}

@media 	(max-width: 600px) {	
}
@media 	(max-width: 400px) {
}