/* 
    Author     : Edwin
*/
body{
    background-color: black;
}

section, h2{
    background: #444;
    color: white;
}


nav, .h2, .cont, footer{
    background-color: #222;	
    color: black;
}



h2{	
	display: inline-block;			
	margin: 10px auto;
	padding: 5px;
	background-color: red;
	border: 2px solid orange;
	width: 50%;
	z-index: 100;
	
}
@media 	(max-width: 600px) {	
h2{		
	margin: 0px auto;	
	width: 80%;
}
}
@media 	(max-width: 400px) {
	h2{		
	margin: 0px auto;	
	width: 80%;
}
}