/* 
    Author     : Edwin
*/
body{
    background-color: black;
}

section{
    background: #444;
    color: white;
}


nav, .h2, .cont, footer{
    background-color: #222;	
    color: black;
}

h2{	
    background-color: red;
}

@media 	(max-width: 600px) {	

}
@media 	(max-width: 400px) {

}