section{
		background: #F7FA2E;
	}

.h2{
	display: block;
	position: sticky;	
	background-color: #D8DC04;	
	width: 100%;
	height: 60px;
	bottom: 0px;	
	top: 0px;	
}
h2{	
	display: inline-block;			
	margin: 10px auto;
	padding: 5px;
	background-color: #F7FA2E;
	border: 2px solid orange;
	width: 50%;
	z-index: 100;
	
}
@media 	(max-width: 600px) {	
h2{		
	margin: 0px auto;	
	width: 80%;
}
}
@media 	(max-width: 400px) {
	h2{		
	margin: 0px auto;	
	width: 80%;
}
}