/* 
    Author     : Edwin
*/

section, h2{
    background: #9966ff;
}


nav, .h2, .cont, footer{
    background-color: #a0f;	
    color: black;
}

@media 	(max-width: 600px) {	
 
}
@media 	(max-width: 400px) {

}