*{
	margin:0.5px;
	box-sizing: border-box;
}

header{	
	display: flex;	
	margin: .25em auto;
	padding: 0em;
	width: 90vw;
	height: 15vh;
	background: #a0f;	
	border-radius: .9em;
}
header img{	
	display: block;
	margin:5px;
	width: 200px;
	height: 50%;
	border: 1px solid green;
}
.header__div{
	display: block;
	margin:5px;
	border: 1px solid red;
	width: 	60%;		
}
header div h1 {		
	display: relative;
		width: 90%;		
		text-align: center;
		font-size: 2em;
		font-family: Georgia;
		font-weight: 100%;		
		line-height: 1;
		color: blue;				
		border: 1px solid green;
	}
.header__div-ul {	
	display: flex 	;	  	
  	width: 99%;
  	border: 1px solid green;
  	align-content: center;
}
.header__div-ul li{	
	display: block;
	text-align: center;
	flex-grow: .5;		
	padding: 5px;	
	border-right: 1px solid #fff;
	color: #fff;
}

.header__div-ul li:hover {
	background-color: #000;
	color: #fff;
} 

nav{
	display: none;		
	margin: .25em auto;
	width: 90vw;
	height: 5vh;	
	background: orange;	
	border-radius: .5em;
	padding: .25em;		
}
.nav__div-ul {	
	display: flex;
  	width: 99%;
  	align-content: center;
  	border: 1px solid green;
}
.nav__div-ul li{	
	display: block;
	text-align: center;
	flex-grow: 1;
	border: 1px solid #fff;

}
.nav__div-ul li:hover {
	background-color: #000;
	color: #fff;
} 



section{
	margin: .25em auto;	
	height: 72vh;
	background: rgb(5,178,248);
	border-radius: .5em;
	padding: .25em;	
	text-align: center;
	width: 80%;
	overflow: auto;
}
.section__h1{
	font-family: 'Dancing Script', cursive;
	color: purple;
}
.images {
	display: flex;	
	flex-wrap: wrap;	
	border: 1px solid blue;		
	height: 99%;
	justify-content: center;		
}
.cont{			
	margin:5px;
	width: 200px;
	height: 200px;
	border: 1px solid	yellow;
	font-size: 1.5em;
	text-align: center;
}
.cont img{
	padding: 5px;
	width: 100%;	
	height: 80%;
	float: bottom;	
	transition: 1s;
	border: 1px solid red;	
}
.cont ul {
	display: inline-block;	
  	list-style-type: none;  	
  	height: 20%;
  	border: 1px solid green;  	
}
.cont img:hover{
	width: 150%;
	height: 150%;
}
.cont img:active{
	width: 150%;
	height: 150%;
}
footer{
	margin: .25em auto;
	width: 90vw;
	height: 5vh;
	background: #00f;	
	border-radius: .5em;	
		padding: .25em;	
	text-align: center;
	color: #fff;
	
}
@media 	(max-width: 600px) {
	nav{		
		display: block;
	margin: .25em auto;
	width: 90vw;
	height: 20vh;	
	background: orange;	
	border-radius: .5em;
	padding: .25em;		
	}
	.nav__div-ul {	
		flex-direction: column;
	}	
	section{
		margin: .25em auto;
		width: 70%;	
		height: 40vh;
		background: rgb(5,178,248);
		border-radius: .5em;
		padding: .25em;	
		text-align: center;		
		overflow: auto;
	}
	.header__div-ul {	
	display: none;	;	  	
  	width: 99%;
  	border: 1px solid green;
  	align-content: center;
}
}
@media 	(max-width: 400px) {
	nav{	
		display: flex;
	width: 90vw;
	height: 20vh;	
	margin: .25em;
	background: orange;	
	border-radius: .5em;
	padding: 0;		
	}
	.nav__div-ul {	
		flex-direction: column;
		margin: 0;
	}	
	section{
		margin: .25em auto;
		width: 70%;	
		height: 40vh;
		background: rgb(5,178,248);
		border-radius: .5em;
		padding: .25em;	
		text-align: center;		
		overflow: auto;
	}
	.header__div-ul {	
	display: none;	;	  	
  	width: 99%;
  	border: 1px solid green;
  	align-content: center;
}
}