section, h2{
    background: #B1FFA9;
}


nav, .h2, .cont, footer{
    background-color: #4DD63F;	
    color: black;
}

.conten{
	position: block;
	margin: 10px auto;
	padding: 10px;
	width: 80%;	
	border: 1px solid green;
	text-align: justify;
	min-height: 300px;	
}
.cont{
	float: left;
}


@media 	(max-width: 600px) {

}
@media 	(max-width: 400px) {
}