section, h2{
    background: lightgreen;
}


nav, .h2, .cont, footer{
    background-color: green;	
    color: black;
}

.conten{
	position: block;
	margin: 10px auto;
	padding: 10px;
	width: 80%;	
	border: 10px solid green;
	text-align: justify;
	min-height: 300px;
	
}
.cont{
	float: left;
}
.cont img{	
	height: 80%;	
	transition: 1s;	
}

@media 	(max-width: 600px) {

}
@media 	(max-width: 400px) {
}