/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-mar-2021, 12:47:24
    Author     : Bob
*/



body { 
    font-family:Arial, Verdana, Helvetica, sans-serif; 
    font-size: 1.2rem; 
    background-color: #FFCC66; 
} 

header{
    margin: -1.6rem 0rem 0rem 0rem;
    padding: 0.2rem;
    box-sizing:border-box;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(255,69,0,0.6);
}

.elivi{
    list-style-type: none;    /* Elimina viñetas, sangrias, etc */
}

.fac{
    display: inline;     /* Comvierte lista vertical en fila */
    padding: 0rem 0.7rem 0rem 0.7rem;    /* Separa los elementos de la fila */
    line-height: 1.8rem;
}

nav{
    margin: 0rem 0rem 0rem 0rem;
}

        nav a{
            border-radius: 5px; padding: 2px 5px 5px 5px;  
            text-decoration: none; color: #000000;    /* No visitado */
            background: #FFFFFF;
        }
        nav a.visited{
            text-decoration: none; color: #696969;    /* Visitado */
        }
        nav a.active{
            text-decoration: none; color: #800000;    /* Ultimo visitado */
        }
        nav a:hover{
            text-decoration: none; color: #FFFFFF;    /* Color paso raton */
            background: #FF0000;
        }
        
#menuA {   
    position: absolute; 
    margin: 2.5rem 0.5rem 0.5rem -0.4rem; 
    float: left; 
    font-weight: 900;
    font-family:verdana,arial; /*tipo de letra*/  
    width: 23%; 
    min-width: 200px; 
    line-height: 20pt; /*separación entre lineas*/ 
    z-index: 4; 
}  
    
.showme{                 /* Capa emergente */ 
    position: absolute; 
    margin: -1rem 0rem 0rem 1rem;
    padding: 0.5rem 1.5rem 0.5rem 0.3rem; 
    width: 12rem; 
    background-color: #000; 
    display: none; 
    text-align: left; 
    line-height: 2.5rem;
    border-radius: 5px; 
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
} 
.showhim:hover .showme{ 
    display: block; 
}

.menumov {
    position: absolute;
    text-align: center;
    margin: -3rem 0rem 0rem 0.5rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    text-decoration: none; 
    color: #FFF; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    background: #FF0000;
}

section {
    padding: 1rem;
    
}

footer{
    position: relative;
    float:left;
    bottom: 0; 
    text-align: center;
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding: 1.4em 1em;
    width: 100%;
    height: 4em;
    background-color: rgba(255,69,0,0.6);
    box-sizing:border-box;
    border-radius: 15px 15px 0px 0px;
}
/* ---------------------------------------------------------- */
@media screen and (min-width: 1000px){
   
    #menuA{
        display:none;
    }

}

@media screen and (max-width: 1000px){
    
    #menuA{
    display:none;
    }

}

@media screen and (max-width: 750px){
    
    .elivi {
        display:none;
    }
    
    #menuA{
        display:block;
    }
    
}

@media screen and (max-width: 550px){
    
    #menuA{
        display:block;
    }
    
}

