/* 
    Author     : Edwin
*/

section, h2{
    background: #9999ff;
	}

nav, .h2, .cont, footer{
    background-color: #9966ff;	
    color: black;
}

@media 	(max-width: 600px) {	
    
}
@media 	(max-width: 400px) {

}